@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700,900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #000;
}

#menuDialog {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    z-index: 3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menuItem {
    font-size: 3.3em;
    color: #fff;
    font-weight: 100;
    text-decoration: none;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    line-height: 1em;
}

.menuItem:hover {
    color: #F5DD07;
    cursor: pointer !important;
    text-decoration: none;
}

#menuClose {
    position: relative;
    z-index: 4;
}

.banner {
    position: relative;
    font-size: 24px;
    text-align: right;
    background-color: #000;
    min-height: 85vh;
    display: flex;
    align-items: center;
    color: #f5f5f5;
    overflow: hidden;
    line-height: 1.4em;
}

.extention-text {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
}

.vendor-text {
    font-size: 9em;
    font-weight: 900;
    line-height: 0.72em;
    text-transform: uppercase;
    letter-spacing: -10px;
    color: #F5DD07;
}

.banner-text {
    z-index: 2;
}

.banner-illustration img {
    position: absolute;
    left: -4.3vw;
    top: 7vh;
    width: 47%;
}

@media screen and (max-width: 480px) {
    .vendor-text {
        font-size: 6em;
    }
}

.title {
    font-weight: 300;
}

.col-lg-4 {
    padding: 0 !important;
}

.instagram-feeds {
    overflow: hidden;
}

.instagram-feed-image {
    position: relative;
    left: -10%
}

.featured-clients-image {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}